name: Linting

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  shellcheck:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Pull koalaman/shellcheck:stable Image
      run: docker pull koalaman/shellcheck:stable
    - name: Run Shellcheck against shell scripts
      run: docker run --rm -v "$PWD:/mnt" koalaman/shellcheck:stable $(find . -type f -exec grep -m1 -l -E '^#!.*sh.*' {} \; | grep -v '/.git/')

#        docker run --rm -v "$PWD:/mnt" koalaman/shellcheck:stable $(find . -type f -exec grep -m1 -l -E '^#!.*execlineb.*' {} \; | grep -v '/.git/')

  hadolint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Pull hadolint/hadolint:latest Image
      run: docker pull hadolint/hadolint:latest
    - name: Run hadolint against Dockerfiles
      run: docker run --rm -i -v "$PWD":/workdir --workdir /workdir --entrypoint hadolint hadolint/hadolint --ignore DL3008 --ignore DL3003 $(find . -type f -iname "Dockerfile*")
