---
name: Linting (YAML)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      # only run when yaml files are updated
    paths:
      - "**.yml"

jobs:
  yamllint:
    name: Run yamllint against YAML files
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5.0.0
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          config_data: |
            extends: default
            rules:
              line-length:
                max: 120
                level: warning
